@import url(https://fonts.googleapis.com/css?family=Magra);
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer {
    position: absolute;
    top: 100%;
    margin-top: -3.5em;
    text-align: center;
    font-family: "Magra";
}